* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

.BigPac {
  background: #EB651B !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.BigPac {
  margin-left: 2.5%;
}

.rowBigPac {
  margin-top: 20px;
}

.BigPac h2 {
  width: 691px;
  height: 160px;
  font-size: 40px;
  line-height: 80px;
  font-weight: bold;
  margin-left: -1%;
  color: #000;
}

.BigPac p {
  top: 41.5px;
  width: 688px;
  height: 288px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  margin-left: -1%;
  font-size: 24px;
  line-height: 48px;
  color: #000;
}