* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

.BigPac {
  background: #EB651B;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rowBigPac {
  margin-top: 20px;
}

.BigPac h2 {
  width: 185px;
  height: 80px;
  font-size: 40px;
  line-height: 80px;
  font-weight: bold;
  margin-left: -4%;
  color: #fff;
}

.BigPacTextList li{
  margin-left: -2%;
}

.BigPacTextList {
  top: 20px;
  width: 1218px;
  height: 240px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  margin-left: -3%;
  font-size: 24px;
  line-height: 48px;
  color: #fff;
}

.imgDiferecialContainer{
  margin-top: 50px;
  display: flex;
  justify-content:space-between;
}

.imgDiferecial {
  width: 246px;
  height: 332px;
  top: 18px;
  transform: scale(0.9);
  transition: 0.2s;
}

.imgDiferecial:hover {
  cursor: pointer;
  transform: scale(1);
}