* {
  font-family: Montserrat;
}

.textHero h1 {
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  width: 699px;
  height: 98px;
  font-size: 40px;
  line-height: 48.76px;
  font-weight: bold;
}

.textHero {
  margin-top: 8% !important;
}

.textHero p {
  color: #fff;
  margin-bottom: 2.5rem;
  top: 41.5px;
  width: 699px;
  height: 154px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.rowHero, .imgVideoContainer {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 8.15%;
}


.imgVideo {
  margin-top: 5.9% !important;
  height: 279px;
  width: 495px;
  margin-right: 50%;
  cursor: pointer;
}

.whatsappIcon {
  position: fixed;
  z-index: 999;
  width: 45px;
  height: 45px;
  color: #34af23;
  right: 2%;
  top: calc(100% - 56px);
  transform: scale(0.9) !important;
  transition: 0.2s;
  cursor: pointer;
}

.whatsappIcon:hover {
  transform: scale(1) !important;
}

.hero {
  background: #163b69;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero a {
  background-color: #EB651B;
  border-color: #EB651B;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.2em;
  border-radius: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 30px;
  transform: scale(0.9) !important;
  transition: 0.2s;
  text-decoration: none !important;
}

.hero a:hover {
  background-color: #ff922e;
  transform: scale(1) !important;
}

@media (min-width: 1024px) {
  .hero-video {
    margin-top: 8% !important;
    height: 315px;
    width: 100%;
    background-color: #ddd;
    margin-left: 1%;
  }
  h1,
  p {
    color: #fff;
    margin-top: 30px;
    margin-left: -1%;
    margin-bottom: 2.5rem;
  }
}

@media (min-width: 780px) {
  .hero-video {
    margin-top: 8% !important;
    height: 235px;
    width: 100%;
    background-color: #ddd;
    margin-left: 1%;
  }
  h1,
  p {
    color: #fff;
    margin-top: 20px;
    margin-left: -1%;
    margin-bottom: 2rem;
  }
  h1 {
    line-height: 1em;
    font-size: 1em;
  }
}

@media (max-width: 500px) {
  .hero-video {
    margin-top: 8% !important;
    height: 200px;
    width: 100%;
    background-color: #ddd;
  }

  h1,
  p {
    color: #fff;
    margin-top: 30px;
    margin-bottom: 1.8rem;
  }
}
