@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 100%;
  max-width: 1080px; */
  margin: 0 5% 0 5%;
}

.logo {
  width: 15rem;
  padding: 1.5rem 0;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #FFF;
  text-transform: uppercase;
  font-size: 1.6rem; 
  padding: 2.4rem;
  transition: all 250ms linear 0s;
  border-bottom: 2px solid transparent;
}

nav ul li a:hover {
  border-bottom: 2px solid #FFF;
  color: #FFF;
}

#login {
  background: transparent;
  border: 1px solid #ff922e;
  color: #ff922e !important;
  border-radius: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  padding: 5px 40px;
  transition: 0.3s;
}

#login:hover {
  background-color: #ff922e;
  color: #fff !important;
  border-radius: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  padding: 5px 40px;
}

@media (max-width: 630px) {

  .hero .container {
      flex-direction: column;
      text-align: center;
  }

  .hero .container img {
      order: -1;
  }

  .form-group {
      display: block;
  }
}

@media (max-width: 540px) {
  nav {
      display: none;
  }

  .one,
  .two,
  .three {
      background-color: #fff;
      height: 5px;
      width: 100%;
      margin: 6px auto;

      transition-duration: 0.3s;
  }

  .menu-toggle {
      width: 40px;
      height: 30px;
      margin-right: 20px;
  }

  /* fullscreen */
  .menu-section.on {
      position: absolute;
      top:0;
      left:0;
      
      width: 100vw;
      height: 100vh;

      background-color: #7159c1;
      
      z-index: 10;

      display: flex;
      justify-content: center;
      align-items: center;
  }

  .menu-section.on nav {
      display: block;
  }

  .menu-section.on .menu-toggle {
      position: absolute;
      right: 25px;
      top: 15px;
  }

  .menu-section.on .menu-toggle .one {
      transform: rotate(45deg) translate(7px, 7px);
  }

  .menu-section.on .menu-toggle .two {
      opacity: 0;
  }

  .menu-section.on .menu-toggle .three {
      transform: rotate(-45deg) translate(8px, -9px);
  }

  .menu-section.on nav ul {
      text-align: center;
      display: block;
  }

  .menu-section.on nav ul a{
      transition-duration: 0.5s;
      font-size: 3rem;
      line-height: 4rem;
      display: block;
      
  }
}