/* .popups-user {
  position: fixed;
  display: flex;
  z-index: 999;
  height: 460px;
  width: 600px;
  align-items: center;
  border-radius: 20px;
  margin-top: -6%;
  margin-left: 65%;
  border: 1px solid #163b69;
  background-color: #fff;
}



.user-inner .student-popup img {
  border-radius: 50%;
  height: 70px;
  width: 73px;
  margin-top: 5%;
}
.user-inner .student-popup h2 {
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
  color: #eb651b;
  height: 56px;
  width: 202px;
  left: 6.5px;
  top: 0px;
}

.user-inner .student-popup p {
  height: 24px;
  width: 197px;
  left: 9px;
  top: 4px;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #eb651b;
} */
