
h1, h2 {
  color: #fff;
  display: flex;
  align-items: center;
  vertical-align: middle;
  flex-direction: column;
  font-weight: bold;
  line-height: 1.5;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  font-size: 2em;
}

.text {
  margin-top: 8% !important;
}

.hero-video {
  margin-top: 8% !important;
  height: 350px;
  width: 100%;
  background-color: #DDD;
}

.hero {
  background: #163B69;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: 50% 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero a{
	background-color: #FF922E;
  text-transform:uppercase;
  color: #FFF;
  font-size: 1.2em;
  border-radius:10px;
  margin: 2em 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  padding: 10px 30px;
}

#missao{
	padding: 8em 0;
}

#missao h2{
	font-weight: bold;
  font-size: 2.2em;
  line-height: 1.5;
  margin-bottom: 1em;
  color: #495551;
}

#missao p{
	font-size: 1.7em;
  line-height: 1.5;
  margin-right: 2em;
  color: #495551;
}

#missao .valores{
	margin-top: 5em;
}
#missao .valores > div{
	margin-bottom: 2em;
}

#missao .valores img{
	float: left;
	max-width: 100%;
}

#missao .valores h3{
	font-weight: bold;
	margin-top: 0;
}

#missao .valores p{
	font-size: 1.1em;
}

.miss-video {
  height: 350px;
  width: 100%;
  background-color: #DDD;
}